body { background: #9bb3b3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 41px; display: flex; }
.block-shipping-0 { color: #733474; font-size: 15px; margin-bottom: 5px; }
.block-cart-1 { color: #9d7323; font-size: 18px; margin-bottom: 5px; }
.block-token-2 { color: #4e2a89; font-size: 14px; margin-bottom: 5px; }
.block-email-3 { color: #44fa56; font-size: 17px; margin-bottom: 5px; }
.block-cluster-4 { color: #bfbdde; font-size: 12px; margin-bottom: 5px; }
.block-cart-5 { color: #9709e; font-size: 19px; margin-bottom: 5px; }
.block-cart-6 { color: #56aaaf; font-size: 19px; margin-bottom: 5px; }
.block-user-7 { color: #ee14af; font-size: 13px; margin-bottom: 5px; }